.spacing--0 {
  letter-spacing: 0;
  word-spacing: 0;
}

.spacing--1 {
  word-spacing: -0.04em;
  letter-spacing: -0.002em;
}
.spacing--2 {
  word-spacing: -0.06em;
  letter-spacing: -0.004em;
}
.spacing--3 {
  word-spacing: -0.08em;
  letter-spacing: -0.005em;
}
.spacing--4 {
  word-spacing: -0.1em;
  letter-spacing: -0.006em;
}
.spacing--5 {
  word-spacing: -0.12em;
  letter-spacing: -0.007em;
}
.spacing--6 {
  word-spacing: -0.06em;
  letter-spacing: -0.01em;
}
.spacing--7 {
  word-spacing: -0.08em;
  letter-spacing: -0.025em;
}



.spacing-1{
  word-spacing: 0.02em;
  letter-spacing: 0.0002em;
}
.spacing-2{
  word-spacing: 0.05em;
  letter-spacing: 0.0005em;
}
.spacing-3{
  word-spacing: 0.05em;
  letter-spacing: 0.0008em;
}
.spacing-4{
  word-spacing: 0.1em;
  letter-spacing: 0.001em;
}
.spacing-5{
  word-spacing: 0.16em;
  letter-spacing: 0.001em;
}
.spacing-6 {
  word-spacing: 0.2em;
  letter-spacing: 0.005em;
}
.spacing-7 {
  word-spacing: 0.25em;
  letter-spacing: 0.009em;
}