/* CSS supplement for Paged.js interface – v0.1 */
/* Nicolas Taffin for C&F editions */
    /*--------------------------------------------------------------------------------------*/
    
:root {

    --color-line-numbers: hsla(199, 53%, 40%, 1.0);

}
    
/* Spacing color guides */
    
@media screen, pagedjs-ignore {
    
    body:not(.preview) .spacing-1:after {
        display: block;
        position: absolute;
        content: " ";
        width: 10px;
        height: 100%;
        top: 0;
        right: -13px;
        border-right: 10px solid  hsla(120, 100%, 49%, 0.2)
    }
    body:not(.preview) .spacing-2:after {
        display: block;
        position: absolute;
        content: " ";
        width: 10px;
        height: 100%;
        top: 0;
        right: -13px;
        border-right: 10px solid  hsla(120, 100%, 49%, 0.30)
    }
    body:not(.preview) .spacing-3:after, 
    body:not(.preview) .spacing-4:after {
        display: block;
        position: absolute;
        content: " ";
        width: 10px;
        height: 100%;
        top: 0;
        right: -13px;
        border-right: 10px solid  hsla(120, 100%, 49%, 0.4)
    }
    body:not(.preview) .spacing-5:after {
        display: block;
        position: absolute;
        content: " ";
        width: 10px;
        height: 100%;
        top: 0;
        right: -13px;
        border-right: 10px solid  hsla(120, 100%, 49%, 0.6)
    }
    body:not(.preview) .spacing-6:after, 
    body:not(.preview) .spacing-7:after {
        display: block;
        position: absolute;
        content: " ";
        width: 10px;
        height: 100%;
        top: 0;
        right: -13px;
        border-right: 10px solid  hsla(120, 100%, 49%, 0.8)
    }
    
    body:not(.preview) .spacing--1:after {
        display: block;
        position: absolute;
        content: " ";
        width: 10px;
        height: 100%;
        top: 0;
        right: -13px;
        border-right: 10px solid  hsla(60, 100%, 49%, 0.3)
    }
    body:not(.preview) .spacing--2:after {
        display: block;
        position: absolute;
        content: " ";
        width: 10px;
        height: 100%;
        top: 0;
        right: -13px;
        border-right: 10px solid  hsla(60, 100%, 49%, 0.4)
    }
    body:not(.preview) .spacing--3:after, 
    body:not(.preview) .spacing--4:after {
        display: block;
        position: absolute;
        content: " ";
        width: 10px;
        height: 100%;
        top: 0;
        right: -13px;
        border-right: 10px solid  hsla(60, 100%, 49%, 0.6)
    }
    body:not(.preview) .spacing--5:after {
        display: block;
        position: absolute;
        content: " ";
        width: 10px;
        height: 100%;
        top: 0;
        right: -13px;
        border-right: 10px solid  hsla(60, 100%, 49%, 0.8)
    }
    body:not(.preview) .spacing--6:after, 
    body:not(.preview) .spacing--7:after {
        display: block;
        position: absolute;
        content: " ";
        width: 10px;
        height: 100%;
        top: 0;
        right: -13px;
        border-right: 10px solid  hsla(60, 100%, 49%, 1)
    } 
    
}


/* line numbers */

@media screen, pagedjs-ignore {

    p, h1, h2, h3, h4, h5, h6, figure, table, ol, ul, li, aside {
        position: relative;
    }
    p:before {
        display: block !important;
        font-size: 0.8rem;
        text-align: left;
        color: var(--color-line-numbers);
        position: absolute;
        right:  calc(var(--outer-margin) / 2 * -1);
        height: 1.5em;
        top: 0;
        text-indent: 0;
        content: attr(data-line-number);
    }
    .pagedjs_left_page p:before {
        left: calc(var(--outer-margin) / 2 * -1);
        text-align: right;
        right: unset;
    }
}


/* semantic color guides */

@media screen, pagedjs-ignore {

    
    /* body:not(.preview) .noWrap {
        color: blue;
    }
    body:not(.preview) .noHyphen {
        color: red;
    } */
   

    .cf-url, .cf-hashtag {
        color: blue;
    }
    .cf-domaine {
        color: red;
    }

/* test the footnote breaking */
    .footnote[data-split-from] {
        background-color: yellow; 
    }
}