/* Variables */

:root {
	--font-size : 9pt;
	--titres-coulants : 6pt;
	--outer-margin : 25mm;
	--inner-margin : 17mm;
}

/* Fonts  */

@font-face {
	font-family: "Barlow";
	src:
	  url("../fonts/Barlowfold.woff") format("woff"),

  }

  @font-face {
	font-family: "Libertine";
	src:
	  url("../fonts/LinLibertine_Rah.ttf") format("TrueType");

  }
  


  @font-face {
	font-family: "Libertine";
	src:
	  url("../fonts/LinLibertine_RIah.ttf") format("TrueType");
	font-style: italic;
	  

  }


  @font-face {
	font-family: "Libertine";
	src:
	  url("../fonts/LinLibertine_RBah.ttf") format("TrueType");
	font-weight: bold;
	  

  }


  @font-face {
	font-family: "Libertine";
	src:
	  url("../fonts/LinLibertine_RBIah.ttf") format("TrueType");
	font-style: italic;
	font-weight: bold;
	  

  }
@media print {    
    
	/* Format de l'édition et marges ------------- */
	@page {
	  size: 105mm 148mm;

	  @bottom-center {
		content: string(poemTitle) "\a" counter(page);
		line-height: 1.5em;
		white-space: pre;
		font-size: var(--titres-coulants);
		font-family: 'Barlow';


	  }
	}  
  
	@page:couv {
		margin: 0; 		
		@bottom-left { content: none; }
		@bottom-center { content: none; }
		@right-middle { content: none; }
		@bottom-left-corner { content: none; }
		@bottom-right-corner { content: none; }
	  }

  
	/* Pages de gauche -------------------------------- */
  
	@page:left {
		margin: 15mm 17mm 20mm 25mm; 




	}
  
	@page:right {
		margin: 15mm 25mm 20mm 17mm; 


  
	  }
	


    /* Pages Blanches -------------------------------- */


	@page:blank {
		@bottom-left { content: none; }
		@bottom-center { content: none; }
		@right-middle { content: none; }
	  }
  
    /* Couverture / Pages de garde / 4ème de couverture -------------------------------- */

    @page:first{
      @bottom-left { content: none; }
      @bottom-right { content: none; }
      @bottom-center { content: none; }
	  margin: 1cm 2cm 1cm 2cm;
	  background-color: #777;
    }



    #cover { 
      break-after: right; 
	  page: couv;
	  
    }

	#cover h1, #cover h2, #cover h3 {
		margin: 0;

	}
	#cover #auteur {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between	;

	}

	#years {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between	;

	}

	#cover h1 {
		font-size: 62pt;
		text-align: center;
		
	}

	#cover h2 {
		font-size: 15pt;
		color: white;
	}

	#cover h3 {
		color: white;

	}

    #entrance {
      break-before: right; 
	  text-align: center;
	  height: 100%;
	  display: flex;
	  flex-direction: column;
	  page:entrance;



    }




	  #entrance{
		break-before: left; 
		page: entrance;
	  }

	  #entrance h1 {
		font-size: 46pt;
	  }
  
	  @page entrance{
		@bottom-left { content: none; }
		@bottom-right { content: none; }
		@bottom-center { content: none; }
		margin: 1cm 2cm 1cm 2cm;

	  }
  

	#entrance div{
		position: absolute;
		bottom: 0;
		align-self: center;
	}



    #backcover{
      break-before: left; 
      page: backcover;
    }

    @page backcover{
      @bottom-left { content: none; }
      @bottom-right { content: none; }
      @bottom-center { content: none; }
    }

    /* SAUTS DE PAGE -------------------------------- */

    .page{
      page-break-after: always;
      page: blank;
    }

	.page{
		page-break-after: always;
		page: blank;
	  }
	  
    .page-right {
      break-before: right;
    }

    .page-left {
      break-before: left;
    }

    .chapter{
      break-before: always 
    }

	.poem {
		break-after: always;
	}
	
.poesie {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	break-inside: avoid;
}

.poem {
	text-align: center;
}



.strophe {
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
	margin-top: 0;
}

.vers {
	align-self: start;
	text-align: left;
	text-wrap: pretty;
	text-align-last: right;
	margin : 0 ;


}

#table-of-contents {
	page-break-after: right;
}
.chapter {
	margin: 0;
	font-size: var(--titres-coulants);
	margin-bottom: 1em;
	page: poem;

}

 @page poem:first {
	@bottom-center {
		content:  "\a" counter(page);
		line-height: 1.5em;
		white-space: pre;
		font-size: var(--titres-coulants);
		font-family: 'Barlow';


	  }




} 



#cover img {
	width: 100%;
}
h1, h2, h3 {

	font-family: 'Barlow';
}

h2 {

	text-align: center;
	text-wrap: balance;

}

h3 {
	font-size: 11pt;
	color: #777;
}

h2 i {
	font-style: normal;
}


p {
	font-size: var(--font-size);
	font-family : 'Libertine';
	margin: 0;
}

blockquote {

	align-self: end;
}
em, i {
	font-style: italic;
}

.date {

}

/* titres coulants */
.chapter h2 {
	margin-top: 0;
	font-size: 10pt;
	margin-bottom: 2em;
	string-set: poemTitle content(text);
	text-wrap: balance;

	
}



}