
/* num page */
#list-toc-generated .toc-element a::after {
  content: target-counter(attr(href), page);
  float: right;
  position: absolute;
  right: 0;




}

#list-toc-generated .toc-element {
  list-style: none;

}

#list-toc-generated .toc-element a {
  font-size: 8pt;
  font-family: 'Barlow';
  font-style: normal;
  break-inside: auto;
  display: list-item;
  text-decoration: none;
}

#list-toc-generated .toc-element a i {
  font-size: 8pt;
  font-family: 'Barlow';
  font-style: normal;
}

ul#list-toc-generated  {
  padding: 0;
}

#list-toc-generated .toc-element a::before {
  content: none;
  display: list-item;
}

/* parties */
#list-toc-generated .toc-element-level-1 a {

  margin-top: 0.5em;
  color: black;




}



/* sousp */
#list-toc-generated .toc-element-level-2 a {
  text-indent: 1em;
  color: #777;

  

  
  
}

#list-toc-generated .toc-element-level-2 a:not(:first-child) {
  padding-top: calc(var(--baseline)*0.5);

}

#list-toc-generated .toc-element-level-2 a::before {


}
